# gitignore it self
# .gitignore

#eclipse related 
.metadata
bin
*.classpath

# Gvim related
*.swp

# Temporary files
*~

# Java Related
*.class

# Aptana related
.pydevproject
.project

# intellij Idea related
*.iml
.idea

